@using System.Configuration
@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
		$(document).ready(function ()
		{
		    $.ajax({
		        url: "@(ConfigurationManager.AppSettings["GreeterApiGetUrl"])", success: function (result) {
		            console.log(result);
		            console.log(result.Message);
		            $(".js-greeting").html(result[0].Message);
		        }
		    });
		});
    </script>
}
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="js-greeting"></h2>

